langchain==0.1.0
langchain-openai==0.0.2
fastapi==0.109.2
uvicorn==0.27.1
python-multipart==0.0.6
jsonschema
reportlab
google-generativeai
pydantic
asyncpg
pydantic-settings
alembic
Jinja2
python-dotenv
psycopg2-binary